In [96]:
# %pylab
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
# pd.set_option('display.mpl_style', 'default') 
# pd.set_option('display.line_width', 5000) 
# pd.set_option('display.max_columns', 60) 

# figsize(15, 5)

In [150]:
num_students_thresh = 0

# Reading Scores

In [151]:
# fields = ['NCESSCH', 'ALL_RLA00PCTPROF_1314']

# data_reading = pd.read_csv('reading.csv', error_bad_lines=False, quoting=csv.QUOTE_NONE)
# data_reading = pd.read_csv('reading_adjusted.csv', error_bad_lines=False, quoting=csv.QUOTE_NONE)
data_reading = pd.read_csv('data/reading_adjust.csv', error_bad_lines=False, quoting=csv.QUOTE_NONE, encoding='utf-8')

data_reading.shape

(82378, 3)

In [152]:
data_reading

            NCESSCH  ALL_RLA00NUMVALID_1314 ALL_RLA00PCTPROF_1314
0       10000500870                     628                    29
1       10000500871                     301                    60
2       10000500879                     664                    32
3       10000500889                     787                    30
4       10000600193                     442                    41
5       10000600872                     282                    35
6       10000600876                      39                 30-39
7       10000600877                     479                    28
8       10000600878                     157                 50-54
9       10000600880                     244                    32
10      10000600883                     119                 65-69
11      10000601434                     242                    37
12      10000601585                     105                 55-59
13      10000601685                     169                 40-44
14      10000601812                     447                    39
15      10000602209                     267                    15
16      10000700091                     192                 45-49
17      10000700248                     299                    60
18      10000700251                     664                    79
19      10000700337                    1171                    66
20      10000700342                     228                    48
21      10000701422                     854                    58
22      10000701456                     401                    80
23      10000701483                     354                    51
24      10000701738                     303                    57
25      10000701739                     214                    40
26      10000701740                     279                    45
27      10000701741                     844                    60
28      10000701742                     274                    48
29      10000701743                     165                 50-54
...             ...                     ...                   ...
82348  560570000323                      20                 21-39
82349  560570000362                     105                 50-54
82350  560570000510                      53                 30-39
82351  560576200164                      12                  LT50
82352  560576200285                     366                    39
82353  560576200324                     159                 20-24
82354  560576200326                       2                    PS
82355  560576200329                       1                    PS
82356  560576200332                      62                 55-59
82357  560576200399                     383                    53
82358  560576200424                      78                 55-59
82359  560576200425                      99                 40-44
82360  560576200439                      81                 60-64
82361  560582000393                      36                 40-49
82362  560583000289                     332                    46
82363  560583000335                     114                 25-29
82364  560583000336                     408                    56
82365  560583000337                      10                  GE50
82366  560583000339                      13                  GE50
82367  560583000340                       3                    PS
82368  560583000341                      62                 65-69
82369  560583000512                      21                  LE20
82370  560609000342                      54                 50-59
82371  560609000363                      49                 50-59
82372  560609000401                      18                 21-39
82373  560624000343                      62                 30-34
82374  560624000344                     266                    52
82375  560624000345                      93                 50-54
82376  560624000346                      70                 65-69
82377  560624000347                      84                 50-54

[82378 rows x 3 columns]

In [153]:
data_reading['ALL_RLA00PCTPROF_1314'][82354]

'PS'

In [154]:
data_reading.shape

(82378, 3)

In [155]:
data_reading = data_reading[data_reading['ALL_RLA00PCTPROF_1314'] != 'PS']

In [156]:
data_reading.shape

(78377, 3)

In [157]:
data_reading

            NCESSCH  ALL_RLA00NUMVALID_1314 ALL_RLA00PCTPROF_1314
0       10000500870                     628                    29
1       10000500871                     301                    60
2       10000500879                     664                    32
3       10000500889                     787                    30
4       10000600193                     442                    41
5       10000600872                     282                    35
6       10000600876                      39                 30-39
7       10000600877                     479                    28
8       10000600878                     157                 50-54
9       10000600880                     244                    32
10      10000600883                     119                 65-69
11      10000601434                     242                    37
12      10000601585                     105                 55-59
13      10000601685                     169                 40-44
14      10000601812                     447                    39
15      10000602209                     267                    15
16      10000700091                     192                 45-49
17      10000700248                     299                    60
18      10000700251                     664                    79
19      10000700337                    1171                    66
20      10000700342                     228                    48
21      10000701422                     854                    58
22      10000701456                     401                    80
23      10000701483                     354                    51
24      10000701738                     303                    57
25      10000701739                     214                    40
26      10000701740                     279                    45
27      10000701741                     844                    60
28      10000701742                     274                    48
29      10000701743                     165                 50-54
...             ...                     ...                   ...
82345  560569500361                     472                    67
82346  560569500397                     122                 75-79
82347  560569500474                     119                 70-74
82348  560570000323                      20                 21-39
82349  560570000362                     105                 50-54
82350  560570000510                      53                 30-39
82351  560576200164                      12                  LT50
82352  560576200285                     366                    39
82353  560576200324                     159                 20-24
82356  560576200332                      62                 55-59
82357  560576200399                     383                    53
82358  560576200424                      78                 55-59
82359  560576200425                      99                 40-44
82360  560576200439                      81                 60-64
82361  560582000393                      36                 40-49
82362  560583000289                     332                    46
82363  560583000335                     114                 25-29
82364  560583000336                     408                    56
82365  560583000337                      10                  GE50
82366  560583000339                      13                  GE50
82368  560583000341                      62                 65-69
82369  560583000512                      21                  LE20
82370  560609000342                      54                 50-59
82371  560609000363                      49                 50-59
82372  560609000401                      18                 21-39
82373  560624000343                      62                 30-34
82374  560624000344                     266                    52
82375  560624000345                      93                 50-54
82376  560624000346                      70                 65-69
82377  560624000347                      84                 50-54

[78377 rows x 3 columns]

In [158]:
data_reading['NCESSCH'].dtype

dtype('int64')

In [159]:
data_reading[['ALL_RLA00NUMVALID_1314' ,'ALL_RLA00PCTPROF_1314']][78365:-1]

       ALL_RLA00NUMVALID_1314 ALL_RLA00PCTPROF_1314
82365                      10                  GE50
82366                      13                  GE50
82368                      62                 65-69
82369                      21                  LE20
82370                      54                 50-59
82371                      49                 50-59
82372                      18                 21-39
82373                      62                 30-34
82374                     266                    52
82375                      93                 50-54
82376                      70                 65-69

In [160]:
data_reading0 = data_reading.copy()

lt_rows = data_reading0['ALL_RLA00PCTPROF_1314'].str.contains('LT')
le_rows = data_reading0['ALL_RLA00PCTPROF_1314'].str.contains('LE')
ge_rows = data_reading0['ALL_RLA00PCTPROF_1314'].str.contains('GE')

data_reading0.replace({'ALL_RLA00PCTPROF_1314': {r'^(LE|GE|LT*)': ''}}, regex=True, inplace=True)

In [161]:
data_reading0[['ALL_RLA00NUMVALID_1314' ,'ALL_RLA00PCTPROF_1314']][78365:-1]

       ALL_RLA00NUMVALID_1314 ALL_RLA00PCTPROF_1314
82365                      10                    50
82366                      13                    50
82368                      62                 65-69
82369                      21                    20
82370                      54                 50-59
82371                      49                 50-59
82372                      18                 21-39
82373                      62                 30-34
82374                     266                    52
82375                      93                 50-54
82376                      70                 65-69

In [162]:
data_reading2 = data_reading0.copy()

data_reading2.loc[lt_rows, ('ALL_RLA00PCTPROF_1314')] = data_reading0['ALL_RLA00PCTPROF_1314'][lt_rows].astype(float) / 2
data_reading2.loc[le_rows, ('ALL_RLA00PCTPROF_1314')] = data_reading0['ALL_RLA00PCTPROF_1314'][le_rows].astype(float) / 2
data_reading2.loc[ge_rows, ('ALL_RLA00PCTPROF_1314')] = (data_reading0['ALL_RLA00PCTPROF_1314'][ge_rows].astype(float) + 100) / 2

In [163]:
data_reading2[['ALL_RLA00NUMVALID_1314' ,'ALL_RLA00PCTPROF_1314']][78365:-1]

       ALL_RLA00NUMVALID_1314 ALL_RLA00PCTPROF_1314
82365                      10                    75
82366                      13                    75
82368                      62                 65-69
82369                      21                    10
82370                      54                 50-59
82371                      49                 50-59
82372                      18                 21-39
82373                      62                 30-34
82374                     266                    52
82375                      93                 50-54
82376                      70                 65-69

In [164]:
data_reading2.shape

(78377, 3)

In [175]:
data_reading2[['ALL_RLA00NUMVALID_1314' ,'ALL_RLA00PCTPROF_1314']][78365:-1]

       ALL_RLA00NUMVALID_1314 ALL_RLA00PCTPROF_1314
82365                      10                    75
82366                      13                    75
82368                      62                 65-69
82369                      21                    10
82370                      54                 50-59
82371                      49                 50-59
82372                      18                 21-39
82373                      62                 30-34
82374                     266                    52
82375                      93                 50-54
82376                      70                 65-69

In [197]:
# df = data_reading.copy()
# data_reading.replace({'ALL_RLA00PCTPROF_1314': {r'^(LE|GE|LT*)': '', '(-.*)': ''}}, regex=True, inplace=True)

data_reading3 = data_reading2.copy()

a = data_reading2['ALL_RLA00PCTPROF_1314'].astype(str).str.contains('-')

data_reading3.loc[a, ('ALL_RLA00PCTPROF_1314')] = data_reading2['ALL_RLA00PCTPROF_1314'][a].str.split('-', expand=True).astype(float).mean(axis=1)

In [198]:
data_reading3[['ALL_RLA00NUMVALID_1314' ,'ALL_RLA00PCTPROF_1314']][78365:-1]

       ALL_RLA00NUMVALID_1314 ALL_RLA00PCTPROF_1314
82365                      10                    75
82366                      13                    75
82368                      62                    67
82369                      21                    10
82370                      54                  54.5
82371                      49                  54.5
82372                      18                    30
82373                      62                    32
82374                     266                    52
82375                      93                    52
82376                      70                    67

In [199]:
low_students = data_reading3['ALL_RLA00NUMVALID_1314'] > num_students_thresh

data_reading3 = data_reading3[low_students]

In [200]:
data_reading3.shape

(78377, 3)

In [201]:
data_reading3[['ALL_RLA00NUMVALID_1314' ,'ALL_RLA00PCTPROF_1314']][78365:-1]

       ALL_RLA00NUMVALID_1314 ALL_RLA00PCTPROF_1314
82365                      10                    75
82366                      13                    75
82368                      62                    67
82369                      21                    10
82370                      54                  54.5
82371                      49                  54.5
82372                      18                    30
82373                      62                    32
82374                     266                    52
82375                      93                    52
82376                      70                    67

In [202]:
data_reading3.to_csv('data/final_data/reading_final.csv',index=False, encoding='utf-8')

In [203]:
data_test_reading = pd.read_csv('data/final_data/reading_final.csv')
data_test_reading

            NCESSCH  ALL_RLA00NUMVALID_1314  ALL_RLA00PCTPROF_1314
0       10000500870                     628                   29.0
1       10000500871                     301                   60.0
2       10000500879                     664                   32.0
3       10000500889                     787                   30.0
4       10000600193                     442                   41.0
5       10000600872                     282                   35.0
6       10000600876                      39                   34.5
7       10000600877                     479                   28.0
8       10000600878                     157                   52.0
9       10000600880                     244                   32.0
10      10000600883                     119                   67.0
11      10000601434                     242                   37.0
12      10000601585                     105                   57.0
13      10000601685                     169                   42.0
14      10000601812                     447                   39.0
15      10000602209                     267                   15.0
16      10000700091                     192                   47.0
17      10000700248                     299                   60.0
18      10000700251                     664                   79.0
19      10000700337                    1171                   66.0
20      10000700342                     228                   48.0
21      10000701422                     854                   58.0
22      10000701456                     401                   80.0
23      10000701483                     354                   51.0
24      10000701738                     303                   57.0
25      10000701739                     214                   40.0
26      10000701740                     279                   45.0
27      10000701741                     844                   60.0
28      10000701742                     274                   48.0
29      10000701743                     165                   52.0
...             ...                     ...                    ...
78347  560569500361                     472                   67.0
78348  560569500397                     122                   77.0
78349  560569500474                     119                   72.0
78350  560570000323                      20                   30.0
78351  560570000362                     105                   52.0
78352  560570000510                      53                   34.5
78353  560576200164                      12                   25.0
78354  560576200285                     366                   39.0
78355  560576200324                     159                   22.0
78356  560576200332                      62                   57.0
78357  560576200399                     383                   53.0
78358  560576200424                      78                   57.0
78359  560576200425                      99                   42.0
78360  560576200439                      81                   62.0
78361  560582000393                      36                   44.5
78362  560583000289                     332                   46.0
78363  560583000335                     114                   27.0
78364  560583000336                     408                   56.0
78365  560583000337                      10                   75.0
78366  560583000339                      13                   75.0
78367  560583000341                      62                   67.0
78368  560583000512                      21                   10.0
78369  560609000342                      54                   54.5
78370  560609000363                      49                   54.5
78371  560609000401                      18                   30.0
78372  560624000343                      62                   32.0
78373  560624000344                     266                   52.0
78374  560624000345                      93                   52.0
78375  560624000346                      70                   67.0
78376  560624000347                      84                   52.0

[78377 rows x 3 columns]

In [95]:
data_test_reading.shape

(78377, 3)

# Math Scores

In [204]:
data_math = pd.read_csv('data/math_adjust.csv', error_bad_lines=False, quoting=csv.QUOTE_NONE, encoding='utf-8')

data_math

            NCESSCH  ALL_MTH00NUMVALID_1314 ALL_MTH00PCTPROF_1314
0       10000500870                     637                    23
1       10000500871                     301                    18
2       10000500879                     673                    41
3       10000500889                     791                    42
4       10000600193                     443                    39
5       10000600872                     284                    36
6       10000600876                      39                 40-49
7       10000600877                     477                    48
8       10000600878                     157                 10-14
9       10000600880                     244                    46
10      10000600883                     119                 20-24
11      10000601434                     243                    39
12      10000601585                     105                 10-14
13      10000601685                     169                 50-54
14      10000601812                     444                    37
15      10000602209                     270                    35
16      10000700091                     192                 50-54
17      10000700248                     305                    72
18      10000700251                     664                    40
19      10000700337                    1173                    60
20      10000700342                     228                    66
21      10000701422                     856                    55
22      10000701456                     400                    44
23      10000701483                     355                    66
24      10000701738                     302                    57
25      10000701739                     217                    45
26      10000701740                     280                    56
27      10000701741                     846                    58
28      10000701742                     274                    59
29      10000701743                     166                 50-54
...             ...                     ...                   ...
80095  560570000362                     105                 40-44
80096  560570000510                      54                 20-29
80097  560576200164                      12                  LT50
80098  560576200285                     392                    34
80099  560576200324                     161                 30-34
80100  560576200326                       2                    PS
80101  560576200329                       4                    PS
80102  560576200332                      66                 40-44
80103  560576200399                     383                    34
80104  560576200424                      86                 40-44
80105  560576200425                     110                 40-44
80106  560576200439                      83                 40-44
80107  560576200528                       1                    PS
80108  560582000393                      40                 60-69
80109  560583000289                     423                    44
80110  560583000335                     113                 50-54
80111  560583000336                     441                    50
80112  560583000337                      19                 60-79
80113  560583000339                      17                 60-79
80114  560583000340                       3                    PS
80115  560583000341                      93                 60-64
80116  560583000512                      21                  LE20
80117  560609000342                      55                 40-49
80118  560609000363                      48                 50-59
80119  560609000401                      21                 21-39
80120  560624000343                      78                 35-39
80121  560624000344                     276                    40
80122  560624000345                     109                 50-54
80123  560624000346                      62                 65-69
80124  560624000347                      94                 35-39

[80125 rows x 3 columns]

In [205]:
data_math['NCESSCH'].dtype

dtype('int64')

In [206]:
data_math['ALL_MTH00PCTPROF_1314'][0:8]

0       23
1       18
2       41
3       42
4       39
5       36
6    40-49
7       48
Name: ALL_MTH00PCTPROF_1314, dtype: object

In [207]:
data_math = data_math[data_math['ALL_MTH00PCTPROF_1314'] != 'PS']

In [208]:
data_math0 = data_math.copy()

lt_rows = data_math0['ALL_MTH00PCTPROF_1314'].str.contains('LT')
le_rows = data_math0['ALL_MTH00PCTPROF_1314'].str.contains('LE')
ge_rows = data_math0['ALL_RLA00PCTPROF_1314'].str.contains('GE')

data_math0.replace({'ALL_MTH00PCTPROF_1314': {r'^(LE|GE|LT*)': ''}}, regex=True, inplace=True)

KeyError: 'ALL_RLA00PCTPROF_1314'

In [ ]:
data_math2 = data_math0.copy()

data_math2.loc[lt_rows, ('ALL_MTH00PCTPROF_1314')] = data_math0['ALL_MTH00PCTPROF_1314'][lt_rows].astype(float) / 2
data_math2.loc[le_rows, ('ALL_MTH00PCTPROF_1314')] = data_math0['ALL_MTH00PCTPROF_1314'][le_rows].astype(float) / 2
data_math2.loc[ge_rows, ('ALL_MTH00PCTPROF_1314')] = (data_math0['ALL_MTH00PCTPROF_1314'][ge_rows].astype(float) + 100) / 2

In [ ]:
data_math3 = data_math2.copy()

a = data_math2['ALL_MTH00PCTPROF_1314'].astype(str).str.contains('-')

data_math3.loc[a, ('ALL_MTH00PCTPROF_1314')] = data_math2['ALL_MTH00PCTPROF_1314'][a].str.split('-', expand=True).astype(float).mean(axis=1)

In [ ]:
data_math3.shape

In [ ]:
data_math3.to_csv('data/final_data/math_final.csv', index=False, encoding='utf-8')

In [ ]:
data_test_math = pd.read_csv('data/final_data/math_final.csv')
data_test_math

In [ ]:
data_test_math.shape

# Income Data
## Possibly remove income data since it is by county

In [ ]:
# data_income = pd.read_excel('data/income.xls', dtype={'County FIPS Code': np.str} )
# data_income

In [ ]:
# data_income.shape

In [ ]:
# data_income["CONUM"] = data_income["State FIPS Code"].map(str) + data_income["County FIPS Code"].map(str)

In [ ]:
# data_income

In [ ]:
# cols = data_income.columns.tolist()
# cols = cols[-1:] + cols[:-1]
# data_income = data_income[cols]

# data_income

In [ ]:
# data_income.to_csv('data/final_data/income_final.csv', index=False, encoding='utf-8')

In [ ]:
# data_test_income = pd.read_csv('data/final_data/income_final.csv', error_bad_lines=False, quoting=csv.QUOTE_NONE, encoding='utf-8')
# data_test_income

In [ ]:
# data_income.shape

# School District Poverty

In [ ]:
data_school_poverty = pd.read_excel('data/school_district_poverty.xls', dtype={'District ID': np.str})

rn_cols = {'Estimated Total Population':'district_total_pop', 'Estimated Population 5-17': 'est_pop_5-17',
          'Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder': 
          'est_pop_5-17_household'}

data_school_poverty = data_school_poverty.rename(columns = rn_cols)

data_school_poverty

In [ ]:
data_school_poverty['LEAID'] = data_school_poverty['State FIPS Code'].map(str) + data_school_poverty['District ID']
data_school_poverty['child_poverty'] = data_school_poverty['est_pop_5-17_household'] / data_school_poverty['est_pop_5-17']

In [ ]:
data_school_poverty

In [ ]:
data_school_poverty.to_csv('data/final_data/school_district_poverty_final.csv', index=False, encoding='utf-8')
data_school_poverty

# Fiscal Data

In [ ]:
data_fiscal = pd.read_csv('data/school_district_fiscal.txt', sep=None)

In [ ]:
data_fiscal

In [ ]:
all_cols = data_fiscal.columns

drop_cols = all_cols[2:18]

In [ ]:
data_fiscal = data_fiscal.drop(drop_cols, axis=1)

In [ ]:
nan_cols = data_fiscal['CENSUSID'] != 'N'

data_fiscal = data_fiscal[nan_cols]

In [ ]:
data_fiscal.shape

In [ ]:
has_rev = (data_fiscal['TOTALREV'] >= 0) | (data_fiscal['TFEDREV'] >= 0)

data_fiscal = data_fiscal[has_rev]

In [ ]:
data_fiscal = data_fiscal.drop(['CENSUSID'], axis=1)

In [ ]:
data_fiscal.shape

In [ ]:
data_fiscal.to_csv('data/final_data/fiscal_final.csv', index=False, encoding='utf-8')

# School Information

In [ ]:
data_schinfo = pd.read_csv('data/school_information.txt', sep=None, engine='python')
data_district = pd.read_csv('data/district_info.txt', sep=None, engine='python')

In [ ]:
# calculating teacher salaries
data_district2 = data_district[['LEAID', 'TOTTCH']]

In [ ]:
data_dir = 'data/final_data/'
data_reading=pd.read_csv(data_dir + 'reading_final.csv')
data_math=pd.read_csv(data_dir + 'math_final.csv')
data_pov=pd.read_csv(data_dir + 'school_district_poverty_final.csv')
data_fisc=pd.read_csv(data_dir + 'fiscal_final.csv', dtype={'LEAID': np.str})

In [ ]:
data_schinfo

In [ ]:
data_pov_cols = data_pov.columns
data_pov = data_pov[data_pov_cols[4:]]

In [ ]:
rows = data_fisc['LEAID'].str.startswith('0')

strs = data_fisc['LEAID'][rows].str[1:]

data_fisc2 = data_fisc.copy()

data_fisc2['LEAID'][rows] = strs

data_fisc2['LEAID'] = data_fisc2['LEAID'].astype(str)

In [ ]:
data_fisc3 = data_fisc2.copy()

print(data_fisc3.shape)

data_fisc3['LEAID'] = data_fisc3['LEAID'].apply(pd.to_numeric, errors='coerce')

print(data_fisc3.shape)

data_fisc3 = data_fisc3[~(data_fisc3['LEAID'].isnull().values)]

print(data_fisc3.shape)

# data_fisc3['LEAID'] = data_fisc2['LEAID'].astype(str).str.replace('\d+', '')

print(data_fisc3.shape)

# data_fisc3 = data_fisc3[~(data_fisc3['LEAID'] == '')]
data_fisc3['LEAID'] = data_fisc3['LEAID'].astype(np.int64)

print(data_fisc3.shape)

In [ ]:
fisc_cols = data_fisc3.columns

fisc_cols = fisc_cols[125:]

data_fisc4 = data_fisc3.drop(fisc_cols, axis=1)

fisc_cols

In [ ]:
# data_schinfo['LEAID'] = data_schinfo['LEAID'].astype(int)
data_fisc4.shape

In [ ]:
data_schinfo['LSTATE'].unique()

In [ ]:
data_schinfo[data_schinfo['LSTATE'] == 'MT']

In [ ]:
data_merged = data_schinfo.merge(data_reading, on='NCESSCH', how='inner')
data_merged = data_merged.merge(data_math, on='NCESSCH', how='inner')


data_merged[data_merged['LSTATE'] == 'MT']

In [ ]:
data_merged['LEAID'] = data_merged['LEAID'].astype(np.int64)
data_merged = data_merged.merge(data_pov, on='LEAID', how='inner')
data_merged = data_merged.merge(data_fisc4, on='LEAID', how='inner')
data_merged = data_merged.merge(data_district2, on='LEAID', how='inner')

data_merged['avg_teacher_salary'] = data_merged['Z35'] / data_merged['TOTTCH']

In [ ]:
data_cols = data_merged.columns
data_merged.shape

In [ ]:
data_merged[data_merged['LSTATE'] == 'MT']

In [ ]:
ulocal = data_merged['ULOCAL'].unique()

print(data_merged['ULOCAL'])

In [ ]:
data_merged2 = data_merged.copy()
data_merged2['ULOCAL'] = data_merged2['ULOCAL'].astype(int)

ulocal = data_merged2['ULOCAL'].unique()
data_merged2['ULOCAL'] = data_merged2['ULOCAL'].astype("category", ordered=True, categories=ulocal).cat.codes

# ulocal = pd.get_dummies(data_merged2['ULOCAL'])
# names = ['City, Large', 'City, Mid-size', 'City, Small', 'Suburb, Large', 'Suburb, Mid-Size', 
#         'Suburb, Small', 'Town, Fringe', 'Town, Distant', 'Town, Remote', 'Rural, Fringe', 'Rural, Distant', 
#         'Rural, Remote']

# ulocal.columns = names

# data_merged2[names] = ulocal
# data_merged2 = data_merged2.drop(['ULOCAL'], axis=1)

In [ ]:
data_merged2['ULOCAL']

In [ ]:
data_merged3 = data_merged2.copy()
data_merged3.loc[data_merged3['GSLO'] == 'N', ('GSLO')] = -3
data_merged3.loc[data_merged3['GSLO'] == 'UG', ('GSLO')] = -2
data_merged3.loc[data_merged3['GSLO'] == 'PK', ('GSLO')] = -1
data_merged3.loc[data_merged3['GSLO'] == 'KG', ('GSLO')] = 0

data_merged3.loc[data_merged3['GSHI'] == 'N', ('GSLO')] = -3
data_merged3.loc[data_merged3['GSHI'] == 'UG', ('GSLO')] = -2
data_merged3.loc[data_merged3['GSHI'] == 'PK', ('GSLO')] = -1
data_merged3.loc[data_merged3['GSHI'] == 'KG', ('GSLO')] = 0


data_merged3 = data_merged3.drop(data_merged3['GSLO'] == -2)

ungrade = ((data_merged3['GSLO'] == -2) | (data_merged3['GSLO'] == -3)
 | (data_merged3['GSHI'] == -2) | (data_merged3['GSHI'] == -3))

data_merged3 = data_merged3[~ungrade]

In [ ]:
data_final = data_merged3

In [ ]:
data_final.to_csv('data/final_data/data_final.csv', index=False, encoding='utf-8')

In [ ]:
data_test_final = pd.read_csv('data/final_data/data_final.csv')
data_test_final